<section>
    <div class="container">
        <div class="row mt-5 content-justify-center">

            <table class="table mt-2">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>

                        <th>status</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each users}}
                    <tr>



                        <td>{{this.user.name}}</td>
                        <td>{{this.user.password}}</td>


                        <td>


                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</section>